* {
  box-sizing: border-box;
  outline: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  line-height: 1.5em;
  background: #3f46cf;
}
.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
h1 {
  font-weight: bold;
}
li {
  list-style-type: decimal;
  margin: 25px 0px;
}
input {
  border-radius: 10px;
  border: 1px solid;
}
